html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../Images/estudiantes.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
}
form{
    width: 1200;
    margin: 0 auto;
}
form legend{

    text-align: center;
    color: aliceblue;
    font-size: 20px;
}
form fieldset{
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 300;
    margin-right: 300; 
}
.in{
    margin-left: 30%;
}
.boton{
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 400px;
}
.reset{
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 100px;
}
