<html>

  <head>
    <title>Tutoria UCP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  </head>

<body>
  <div style="margin:30px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand">UCP Tutorias</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
              <a class="nav-link" href="/">Solicitar Tutoria<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
   </nav>

    <div class="jumbotron" style="padding:40px;">
      <form action="/metodos" method="POST">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Alumno&nbsp&nbsp</label>
          </div>
          <select class="custom-select" name="usuario" id="usuario">
              <option value="0xedb0e48927a72e9dc907afd23d9794586acfd149">Sebastian</option>
              <option value="0xbf965026809eeda78bd15e66ed185220fbc44c0b">Leandro</option>
              <option value="0x2af24ec65db90aa75fc9c918da71e498c6812efe">Jose</option>
              <option value="0xb84d66b9aa22c77cb82b756a64dba9e26719b4d7">Cristian</option>
              <option value="0xbd7b59c5c01e860150200df323b703228625eff7">Sergio</option>
              <option value="0xcffd857638c1e8e5dcb8df934f6c2d8fd12fea61">Facundo</option>
              <option value="0xfd8fc5f54264089778fe45d188b1636d9399ce5e">Gonsalo</option>
              <option value="0xfd730bab2d10d2179aec947409e2f0c5d1ac5021">Gonzalo</option>
              <option value="0x95f4c7b52bd3890dd6ab2a488d51414b3b961eca">Martin</option>
              <option value="0xff7cbcb3bae4b13db50860a023e31f4a0b0bfa46">Agustin</option>
              
          </select>
      </div>
      
      <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Metodos</label>
      </div>
      <select class="custom-select" name="metodo" id="metodo">
        <option value="1">PedirMateria</option>
        <option value="2">Fecha de creacion de Solicitar</option>
        <option value="3">PedirProfesor</option>
        <option value="4">PedirAlumno</option>
        <option value="5">Confirmar Tutoria (Profesor)</option>
        <option value="6">Cancelar Tutoria (Alumno)</option>
        <option value="7">EstaConfirmado?</option>
        <option value="8">EstaCancelado?</option>
      </select>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-lg btn-outline-success">Aceptar</button>
      <!--<input type="submit" value="Ejecutar Metodo!">-->
    </form>
    </div>
</body>

</html>